.container{
    max-width: 1580px;
    margin: 0 auto;
    padding: 0 15px;
}

body{
    background: rgb(142,173,213);
    background: linear-gradient(151deg, rgba(142,173,213,1) 0%, rgba(255,255,255,1) 29%, rgba(255,255,255,1) 100%);
    background-repeat: no-repeat;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header{
    
    padding-top: 50px;
    
    .nav{
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-bottom: 100px;
    }

    .menu{
        display: flex;
        gap: 45px;

        .bg-image{
            display: none;
        }

        a{
            text-decoration: none;
            color: #272D38;
            font-size: 18px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            display: block;
            
            
        }

        @media(max-width:740px){
            .a{
                display: none;
            }
            .bg-image{
                display: block;
                width: 100%;
                height: auto;
            }
        }


    }

    .title{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 75px;
        

        .box1{
            display: flex;
            flex-direction: column;
            max-width: 540px;
            gap: 32px;

            h1{
                color: #272D38;
                font-size: 64px;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                margin-bottom: 0;
            }
    
            p{
                color: #272D38;
                font-size: 18px;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                letter-spacing: 2px;
            }

            button{
                background-color: #8EADD5;
                color: #fff;
                border: none;
                border-radius: 10px;
                padding: 10px 30px;
                max-width: 170px;

                @media (max-width:740px) {
                    margin: 0 auto;    
                }
            }
        }

       
    }

}

.box{
    margin-top: 160px;

    p{
        color: #667085;
        text-align: center;
    }

    img{
        display: block;
        margin: 0 auto;

        @media (max-width:740px) {
            width: 340px;
        }
    }
}

.box4{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap-reverse;
    gap: 170px;
    margin-top: 130px;


    @media (max-width:740px) {
        .arrow{
            rotate: 90deg;
            display: block;
            margin: 0 auto;
        }
    }

    .box2{
        max-width: 430px;
    }

    h1{
        font-size: 48px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin-bottom: 25px;
    }
    
    p{
        font-size: 16px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin-bottom: 40px;
    }
}

.box5{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 170px;
    margin-top: 130px;

    @media (max-width:740px) {
        .arrow{
            rotate: 90deg;
            display: block;
            margin: 0 auto;
        }
        
    }


    .box3{
        max-width: 430px;
    }

    h1{
        font-size: 48px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin-bottom: 25px;
    }
    
    p{
        font-size: 16px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin-bottom: 40px;
    }
}

.box6{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 170px;
    gap: 20px;

    .text{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;

        p{
            font-size: 16px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

        }

        h1{
            font-size: 48px;
            text-align: center;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

        }
    }

    .cards{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 15px;
        

        .card{
            max-width: 345px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 8px;
            border: none;
            background-color: #F6F6F6;
            border-radius: 15px;
            padding: 32px 32px;

            h3{
                font-size: 18px;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            }

            p{
                margin-top: 19;
                font-size: 14px;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                letter-spacing: 1px;
            }
        }
    }
}

.box7{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 90px;
    margin-top: 136px;
    background-color: #F6F6F6;
    border-radius: 15px;
    padding-bottom: 30px;

    @media (max-width:740px) {
        .support{
            display: none;
        }
        .b{
            margin: 0 auto;
        }
    }

    .box8{
        max-width: 360px;
    }

    h1{
        font-size: 48px;
    }

    p{
        margin-top: 16px;
        font-size: 16px;
    }

    button{
        margin-top: 30px;
        background-color: #8EADD5;
        color: #fff;
        border: none;
        border-radius: 10px;
        padding: 10px 30px;
        max-width: 170px;
        font-size: 16px;
    }
}


.footer{
    background-color: #F6F6F6;
    margin-top: 140px;
    

    .end{
     text-align: center;       
     margin-top: 110px;
    }

    .description{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 180px;
        padding-bottom: 30px;

        @media (max-width: 740px) {
            flex-direction: column;
            gap: 72px;
        }
    
        .box9{
            max-width: 190px;
        }

        
    }
}
